<div class="sidebar-module sidebar-module-inset">
  <h4>Busca</h4>
  <p>
    <form class="navbar-form navbar-right" role="search" action="{{ site.baseUrl }}/busca" method="get">
      <div class="input-group">
        <input class="blog-nav-input form-control" type="search" id="search-box" name="query" placeholder="">
        <div class="input-group-btn">
          <button class="btn btn-link" type="submit"><i class="glyphicon glyphicon-search"></i></button>
        </div>
      </div>
    </form>
  </p>
  &nbsp;
</div>
<div class="sidebar-module">
  <h4>Categorias</h4>
  <ol class="list-unstyled">
    <li><a href="{{ site.baseUrl }}/tag/como-programar-jogos">Como Começar</a></li>
    <li><a href="{{ site.baseUrl }}/tag/game-dev">Game Dev</a></li>
    <li><a href="{{ site.baseUrl }}/tag/livros">Livros</a></li>
    <li><a href="{{ site.baseUrl }}/tag/meus-projetos">Projetos</a></li>
    <li><a href="{{ site.baseUrl }}/tag/final-frontier">Final Frontier</a></li>
    <li><a href="{{ site.baseUrl }}/tag/ludum-dare">Ludum Dare</a></li>
  </ol>
</div>
<div class="sidebar-module">
  <h4>Redes Sociais</h4>
  <ol class="list-unstyled">
    <li><a href="{{ site.linkTwitter }}" target="_blank">Twitter (cicanci)</a></li>
    <li><a href="{{ site.linkTwitterBlog }}" target="_blank">Twitter (BlogGameDev)</a></li>
    <li><a href="{{ site.linkGithub }}" target="_blank">GitHub (cicanci)</a></li>
    <li><a href="{{ site.linkGithubBlog }}" target="_blank">GitHub (GameDevBlog)</a></li>
    <li><a href="{{ site.linkFacebook }}" target="_blank">Facebook (GameDeveloperBlog)</a></li>
    <li><a href="{{ site.linkYoutube }}" target="_blank">YouTube (BrunoCicanci)</a></li>
  </ol>
</div>
{% include sidebarads.html %}
