---
layout: default
---

<p class="blog-post-title">{{ page.title }}</p>
<p class="blog-post-info">
  {% for tag in page.tags %}
    <a href="{{ site.baseUrl }}/tag/{{ tag }}">{{ tag | replace:'-',' ' }}</a> |
  {% endfor %}

  {% assign d = page.date | date: "%-d"  %}
  {% case d %}
    {% when '1' or '21' or '31' %}{{ d }}st
    {% when '2' or '22' %}{{ d }}nd
    {% when '3' or '23' %}{{ d }}rd
    {% else %}{{ d }}th
    {% endcase %}
  {{ page.date | date: "%B" }}
  {{ page.date | date: "%Y" }}
</p>

{% if page.cover != nil %}
<p class="blog-post-cover">
  <img src="{{ site.baseurl }}/{{ page.cover }}" alt="{{ page.title }}"/>
</p>
{% endif %}

{{ content }}

{% include related.html %}

{% include postads.html %}

<br/>

{% include comments.html %}

<br/>
